In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('./repAdap.xlsx')
df = df[df['Adap. M *F4.5']!= 0]
print(df.shape)
df.head()

(951, 16)

,UE,Cross,F3.4 Surco,Column,Row,Cod,No,Adap. M *F4.5,family,f1.2,f2.3,f3.4,p1,p2,p3,p4
0,1,((VAP 1xG 40056)F1 X SEN 118)F1 X SMR 155...,963.0,1,34,QINT,19095-001,2,((VAP 1xG 40056)F1 X SEN 118)F1 X SMR 155,001F1,18C,03C,VAP 1,G 40056,SEN 118,SMR 155
1,2,((VAP 1xG 40056)F1 X SEN 118)F1 X SEN 118...,1293.0,1,33,QINT,19098-001,2,((VAP 1xG 40056)F1 X SEN 118)F1 X SEN 118,001F1,15C,02C,VAP 1,G 40056,SEN 118,SEN 118
2,3,((VAP 1xG 40287)F1 X ICTA LIGERO)F1 X SMR ...,1349.0,1,32,QINT,19103-003,2,((VAP 1xG 40287)F1 X ICTA LIGERO)F1 X SMR 155,003F1,11C,02C,VAP 1,G 40287,ICTA LIGERO,SMR 155
3,4,((VAP 1xG 40056)F1 X SEN 118)F1 X SMR 155...,1019.0,1,31,QINT,19095-002,2,((VAP 1xG 40056)F1 X SEN 118)F1 X SMR 155,002F1,01C,01C,VAP 1,G 40056,SEN 118,SMR 155
4,5,((VAP 1xG 40287)F1 X SEF 10)F1 X ICTA LIG...,1660.0,1,30,QINT,19111-004,2,((VAP 1xG 40287)F1 X SEF 10)F1 X ICTA LIGERO,004F1,16C,03C,VAP 1,G 40287,SEF 10,ICTA LIGERO

In [14]:
#carga campo
cfield = pd.read_clipboard()
cfield.head()

,UE,Cross,F3.4 Surco,Column,Row,Cod,No,Adap. M *F4.5,family,f1.2,f2.3,f3.4,p1,p2,p3,p4,Surco i,Adap. M *F4.5 F
0,767,((VAP 1xG 40056)F1 X SEN 118)F1 X SMR 155...,931,23,16,QINT,19095-001,1,((VAP 1xG 40056)F1 X SEN 118)F1 X SMR 155,001F1,01C,02C,VAP 1,G 40056,SEN 118,SMR 155,20991,5
1,56,((VAP 1xG 40056)F1 X SEN 118)F1 X SMR 155...,934,2,22,QINT,19095-001,1,((VAP 1xG 40056)F1 X SEN 118)F1 X SMR 155,001F1,03C,01C,VAP 1,G 40056,SEN 118,SMR 155,20994,4
2,608,((VAP 1xG 40056)F1 X SEN 118)F1 X SMR 155...,937,18,30,QINT,19095-001,1,((VAP 1xG 40056)F1 X SEN 118)F1 X SMR 155,001F1,04C,02C,VAP 1,G 40056,SEN 118,SMR 155,20997,7
3,615,((VAP 1xG 40056)F1 X SEN 118)F1 X SMR 155...,939,19,32,QINT,19095-001,1,((VAP 1xG 40056)F1 X SEN 118)F1 X SMR 155,001F1,05C,02C,VAP 1,G 40056,SEN 118,SMR 155,20999,7
4,877,((VAP 1xG 40056)F1 X SEN 118)F1 X SMR 155...,942,26,27,QINT,19095-001,1,((VAP 1xG 40056)F1 X SEN 118)F1 X SMR 155,001F1,11C,03C,VAP 1,G 40056,SEN 118,SMR 155,21002,5

In [5]:
#multispec DB
msDB = pd.read_clipboard()
msDB['UE'] = msDB['Genotipo']
msDB.head()

,ID,Ambient.Humidity,Ambient.Temperature,ECSt.mAU,gH.,Leaf.Angle,Leaf.Temperature.Differential,LEF,Light.Intensity..PAR.,NPQt,...,thic_ev,li_count,hi_count,na_count,Final_eval,Carga,f1_2,f2_3,f3_4,UE
0,1478324.0,67.337,26.38,0.00029,155.769,14.000,1.69,45.090150,163.994,0.586,...,HI,2.0,3.0,0.0,4.0,3.0,013F1,01C,02C,478.0
1,1503995.0,72.245,35.78,0.00087,194.662,20.580,-3.85,116.936918,473.333,0.822,...,LI,1.0,0.0,4.0,2.0,3.0,013F1,04C,03C,952.0
2,1479456.0,57.461,31.76,0.00024,155.217,72.748,-3.95,23.334847,82.572,0.399,...,NaN,2.0,1.0,2.0,2.0,2.0,013F1,02C,02C,646.0
3,1479383.0,44.479,38.74,0.00067,217.347,15.274,-6.81,157.359992,621.117,0.686,...,NaN,0.0,0.0,5.0,3.0,2.0,013F1,04C,01C,719.0
4,1479303.0,43.610,38.01,0.00115,208.723,31.249,-8.40,198.532422,909.656,0.913,...,NaN,1.0,2.0,2.0,2.0,3.0,013F1,03C,02C,778.0

In [6]:
print(df.shape)
joinDF = df.merge(msDB, on='UE', how='left')
print(joinDF.shape)

(951, 16)
(951, 80)

In [12]:
#errores bd johnatan
l = list(joinDF['UE'])
set([x for x in l if l.count(x) > 1])

set()

In [15]:
cDataJoin = joinDF.merge(cfield[['UE','Adap. M *F4.5 F']], on='UE', how='left')

In [26]:
selected = list()
fSelected = list()
r = 50
for i,subdf in cDataJoin.groupby(['family', 'f1.2']):
    if (subdf.shape[0]<=6):
        r -= 1
        selected.append(subdf)
    else:
        subdf = subdf.sort_values('Adap. M *F4.5', ascending=True)
        malos = subdf[~pd.isna(subdf['Adap. M *F4.5 F'])]
        malos = malos.sort_values('Adap. M *F4.5 F', ascending=True)     
        if malos.shape[0] > 0:
            sMalos = list()
            counts = malos.groupby('Adap. M *F4.5 F', as_index=False).count()
            if malos[malos['Adap. M *F4.5 F'] == counts.iloc[0]['Adap. M *F4.5 F']].shape[0] <= 1:
                sMalos.append(malos[malos['Adap. M *F4.5 F'] == counts.iloc[0]['Adap. M *F4.5 F']].iloc[0])
                sMalos.append(malos[malos['Adap. M *F4.5 F'] == counts.iloc[1]['Adap. M *F4.5 F']].sort_values('Phi_index',ascending=True).iloc[0])
                sMalos = pd.concat(sMalos, axis=1).T
            else:
                sMalos.append(malos[malos['Adap. M *F4.5 F'] == counts.iloc[0]['Adap. M *F4.5 F']].sort_values('Phi_index',ascending=True).iloc[0:2])
        else:
            sMalos = list()
            sMalos = subdf.sort_values(['Adap. M *F4.5', 'Phi_index'],ascending=True).iloc[:2]
            
        try:
            sMalos = pd.concat(sMalos)
        except TypeError:
            pass
        buenos = subdf[~subdf['UE'].isin(sMalos['UE'])]
        buenos = buenos.sort_values(['Adap. M *F4.5','Adap. M *F4.5 F','Phi_index'], ascending=[False,True,False]).iloc[:5]
        tselec = pd.concat([buenos, sMalos])
        fSelected.append(tselec)
        
selected = pd.concat(selected)
fSelected = pd.concat(fSelected)
selected = pd.concat([selected, fSelected])

In [28]:
selected.to_clipboard()

In [ ]:
selected['']